.table thead th{
  color: darkslategrey !important;
  font-weight: normal !important;
}
.btn{
  color: white;
  width: 100px;
}
.table tbody td{
  color : darkslategray !important;
  font-weight: bold;
}.btn-outline-dark{
  color: darkslategray;
 }
