<ng4-loading-spinner></ng4-loading-spinner>
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#" target="_blank">
    Projects
  </a>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link ml-2" href="#" (click)="_openModal(newproject)">New Project</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link ml-2" href="#" (click)="_openModal(newtask)">New Task</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link ml-2" href="#" (click)="_openModal(newuser)">New User</a>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="filter" placeholder="Filters">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Filter</button>
    </form>
  </div>
</nav>
<div class="container-fluid body-container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects">
          <td scope="row">{{project.id}}</td>
          <td scope="col">{{project.code}}</td>
          <td scope="row">{{project.description}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!--Modal New Task-->
<ng-template #newtask>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create new Task</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
          <input type="text"
                 placeholder="Datepicker"
                 class="form-control"
                 bsDatepicker>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" name="description" [(ngModel)]="editProject.description" #description="ngModel"
             required/>
      <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addProject()">Create</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<!--Modal New User-->
<ng-template #newuser>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create new User</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <!--<label>Code</label>-->
      <!--<input class="form-control" name="fname" [(ngModel)]="editProject.code" #code="ngModel" required/>-->
      <!--<div [hidden]="code.valid || code.untouched" class="alert alert-danger">-->
        <!--Please set projectcode-->
      <!--</div>-->
    </div>
    <div class="form-group">
      <div class="btn-group" dropdown>
        <button id="button-role" dropdownToggle type="button" class="btn btn-outline-dark dropdown-toggle"
                aria-controls="dropdown-role">
          Developer <span class="caret"></span>
        </button>
        <ul id="dropdown-role" *dropdownMenu class="dropdown-menu"
            role="menu" aria-labelledby="button-role" >
          <li role="menuitem"><a class="dropdown-item" href="#" *ngFor="let role of roles">{{role.role}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addProject(code,description)">Create</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>

<!--Modal New Project-->
<ng-template #newproject>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Create new Project</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="_closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label>Code</label>
      <input class="form-control" name="code" [(ngModel)]="editProject.code" #code="ngModel" required/>
      <div [hidden]="code.valid || code.untouched" class="alert alert-danger">
        Please set projectcode
      </div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input class="form-control" name="description" [(ngModel)]="editProject.description" #description="ngModel"
             required/>
      <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="_addProject(code,description)">Create</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="_closeModal()">Close</button>

  </div>
</ng-template>
