<ng4-loading-spinner></ng4-loading-spinner>
<app-header></app-header>
<div class="container-fluid body-container">
  <div class="row">
    <div class="col-sm-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Code</th>
          <th scope="col">Description</th>
          <th scope="col">Delete Action</th>
          <th scope="col">Edit Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let project of projects">
          <td scope="row" [routerLink]="['/tasks', project.id]">{{project.id}}</td>
          <td scope="col">{{project.code}}</td>
          <td scope="col">{{project.description}}</td>
          <td>
            <button type="button" class="btn btn-danger" (click)="deleteProject(project.id)">Delete</button>
          </td>
          <td>
            <button type="button" class="btn btn-secondary" (click)="openModal(newproject,project)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<ng-template #newproject>
  <app-newproject [editMode]="true" [editProject]="editProject" [modalRef]="modalRef"></app-newproject>
</ng-template>

