<div class="modal-header">
  <h4 class="modal-title pull-left">Create new Task</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="modal-body">

  <div class="form-group">
    <label>Project</label>
    <div>
      <select class="form-control" name="proj" (change)="resetProjectError()" [(ngModel)]="project" #proj="ngModel">
        <option *ngFor="let key of projects" [ngValue]="key">{{ key.code }}</option>
      </select>
      <div [hidden]="projectError">Set project</div>
    </div>
  </div>

  <div class="form-group">
    <label>Due Date</label>
    <input type="date" class="form-control"
           #dpYMD="bsDatepicker"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
           [minDate]="minDate"
           name="duedate"
           [(ngModel)]="editTask.dueDate"
           #duedate="ngModel"
           required/>
  </div>

  <div class="form-group">
    <label>Estimation</label>
    <input type="number" min="1" class="form-control" name="estimation" [(ngModel)]="editTask.estimation" #estimation="ngModel"
           tooltip="Estimation should include less than 5 characters."
           placement="top"
           required pattern="[1-9]{1}[0-9]{0,4}"/>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" [(ngModel)]="editTask.description" #description="ngModel"
           tooltip="Description should include less than 45 symbols."
           placement="top"
           required pattern="(.){1,45}"/>
  </div>

  <div class="form-group">
    <label>Assignee</label>
    <select class="form-control" [(ngModel)]="editTask.assignedId">
      <option *ngFor="let key of accounts" [ngValue]="key.id">{{key.name}} {{key.sname}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Priority</label>
    <div>
      <select class="form-control" [(ngModel)]="editTask.priorityId">
        <option *ngFor="let key of priorities" [ngValue]="key.id">{{ key.name }}</option>
      </select>
    </div>
  </div>

</div>

<div class="modal-footer">
  <button type="button" class="btn btn-success"
          [disabled]="!duedate.valid || duedate.untouched ||
           !description.valid || description.untouched ||
           !estimation.valid || estimation.untouched"
          (click)="addTask()">Create</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>
