<div class="modal-header">
  <h4 class="modal-title pull-left">Create new Task</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">

  <div class="form-group">
    <label>Project</label>
    <div>
      <select class="form-control" [(ngModel)]="project">
        <option *ngFor="let key of projects" [ngValue]="key">{{ key.code }}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <label>Due Date</label>
    <input class="form-control"
           #dpYMD="bsDatepicker"
           bsDatepicker
           [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }"
           [minDate]="minDate"
           name="duedate"
           [(ngModel)]="editTask.dueDate"
           #duedate="ngModel"
           required/>
  </div>

  <div class="form-group">
    <label>Estimation</label>
    <input class="form-control" name="estimation" [(ngModel)]="editTask.estimation" #estimation="ngModel"
           required/>
    <div [hidden]="estimation.valid || estimation.untouched" class="alert alert-danger">
      Uncorrect estimation
    </div>
  </div>

  <div class="form-group">
    <label>Description</label>
    <input class="form-control" name="description" [(ngModel)]="editTask.description" #description="ngModel"
           required/>
    <div [hidden]="description.valid || description.untouched" class="alert alert-danger">
      Please, set description
    </div>
  </div>

  <div class="form-group">
    <label>Assignee</label>
    <select class="form-control" [(ngModel)]="editTask.assignedId">
      <option *ngFor="let key of accounts" [ngValue]="key.id">{{key.name}} {{key.sname}}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Priority</label>
    <div>
      <select class="form-control" [(ngModel)]="editTask.priorityId">
        <option *ngFor="let key of priorities" [ngValue]="key.id">{{ key.name }}</option>
      </select>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn btn-success" (click)="addTask()">Create</button>
  <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
</div>
