.navbar{
  background:darkcyan;
}
.nav-link , .navbar-brand{
  color: #f4f4f4 !important;
}
.nav-link{
  margin-right: 1em !important;
}
.nav-link:hover{
  font-weight : bold;
  color: darkslategrey;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
