<nav class="navbar navbar-expand-lg fixed-top ">
  <a class="navbar-brand" href="#">Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbarSupportedContent">
    <ul class="navbar-nav mr-4">
      <li class="nav-item">
        <a routerLink="/authorization" class="nav-link">Sign in</a>
      </li>
    </ul>

  </div>
</nav>
<header class="header">
  <div class="overlay"></div>
  <div class="container">
    <div class="description text-center">
      <h3>
        Hello ,Welcome to the project management application
        <p>
          This application allows you to manage and monitor the tasks that are created within the project
        </p>
      </h3>
    </div>
  </div>
</header>
