<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">Create new User</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Name</label>
        <input class="form-control" name="fname" [(ngModel)]="account.name" #fname="ngModel" required
               pattern="[A-Z]{1}[a-z]*"/>
        <div [hidden]="fname.valid || fname.untouched" class="alert alert-danger">
          Please, set name
        </div>
      </div>
      <div class="form-group">
        <label>Last name</label>
        <input class="form-control" name="lname" [(ngModel)]="account.sname" #lname="ngModel" required
               pattern="[A-Z]{1}[a-z]*"/>
        <div [hidden]="lname.valid || lname.untouched" class="alert alert-danger">
          Please, set last name
        </div>
      </div>
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" name="email" [(ngModel)]="account.email" #email="ngModel" required
               pattern="[a-z0-9_\.-]+)@([a-z0-9_\.-]+)\.([a-z\.]{2,6}"/>
        <div [hidden]="email.valid || email.untouched" class="alert alert-danger">
          Uncorrect email
        </div>
      </div>
      <div class="form-group">
        <label>Login</label>
        <input class="form-control" name="login" [(ngModel)]="user.login" #login="ngModel" required
               pattern="[a-z0-9_-]{3,16}"/>
        <div [hidden]="login.valid || login.untouched" class="alert alert-danger">
          Uncorrect login
        </div>
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" name="pass" [(ngModel)]="user.password" #pass="ngModel" required/>
        <div [hidden]="pass.valid || pass.untouched" class="alert alert-danger">
          Please, set password
        </div>
      </div>

      <div class="form-group">
        <label>Role:</label>
        <select class="form-control" [(ngModel)]="user.role">
          <option *ngFor="let key of roles" [ngValue]="key">{{ key.name }}</option>
        </select>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="addUser()">Create</button>
      <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
  </div>
</div>
